@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Glegoo');

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-weight: 400;
  background-color: #7F2216;
  color: white;
}

h1 {
  font-family: "Fugaz One";
}

.container-fluid div {
  display: inline-block;
}

.huge {
  vertical-align: top;
  font-size: 3em;
}

.quote {
  margin-top: 20px;
  font-family: Glegoo;
  font-size: 2em;
}

.quote-container {
  width: 90%;
}

.author {
  font-size: 20px;
  text-align: right;
  display: block;
}

.footer {
  margin: 20px;
}

.buttons div {
  display: inline-block;
}
